{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "All proposals" %}{% endblock %}
{% block content %}

<style>
    .gray-bg {
        background-color: #f8f9fa !important;
    }
</style>

<script>
    function changeBackground(element) {
        element.classList.toggle('gray-bg');
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="text-center mt-4">{% trans "All proposals" %}</h4>
            <div class="mt-4">
                {% for x in proposals %}
                <div class="card mb-3">
                    <div class="card-body" onmouseover="changeBackground(this)" onmouseout="changeBackground(this)">
                        <a href="proposal_details/{{ x.id }}" class="text-decoration-none">
                            <h5 class="card-title">{{ x.title }}</h5>
                            <p class="card-text">{{ x.content }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
