{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "All proposals" %}{% endblock %}
{% block content %}

<style>
    .gray-bg {
        background-color: #f8f9fa !important;
    }
</style>

<script>
    function changeBackground(element) {
        element.classList.toggle('gray-bg');
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center mt-4">{% trans "All proposals" %}</h4>
            <div class="mt-4">
                <form method="GET" action="" class="mb-3">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                    </div>
                </form>
                {% for proposal in proposals %}
                <div class="card mb-3">
                    <div class="card-body" onmouseover="changeBackground(this)" onmouseout="changeBackground(this)">
                        <a href="proposal_details/{{ proposal.id }}" class="text-decoration-none">
                            <h5 class="card-title mb-3">{{ proposal.title }}</h5>
                            <p class="card-text">{% trans "From" %}: {{ proposal.author }}</p>
                            <p class="card-text">{% trans "Submitted on" %}: {{ proposal.datetime }}</p>
                            <p class="card-text">{% trans "Upvotes" %}: {{ proposal.upvote_count }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
