<!DOCTYPE html>
{% load i18n %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    {% tailwind_css %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="text-white bg-gradient-to-r from-indigo-950 to-black dark:text-white dark:bg-black">
    <div class="flex justify-center">
        <div class="lg:w-1/2">
            {% if user.is_authenticated %}
            <div class="mt-10 mb-8 text-4xl font-bold text-center">
                {% trans "Hello" %}, {{ user.username }}!
            </div>
            <div class="mb-3 text-center">
                {% if user.is_superuser or user.is_staff %}
                <a class="group relative mb-2 me-2 inline-flex items-center rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 text-sm font-medium text-white hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-800 group-hover:from-purple-600 group-hover:to-blue-500"
                    href="/admin">
                    <span
                        class="relative rounded-md bg-black dark:bg-gray-900 px-5 py-2.5 text-lg transition-all duration-75 ease-in group-hover:bg-opacity-0">{% trans "Admin section" %}</span></a>
                {% endif %}
                <a class="group relative mb-2 me-2 inline-flex items-center rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 text-sm font-medium text-white hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-800 group-hover:from-purple-600 group-hover:to-blue-500"
                    href="{% url 'password_change' %}">
                    <span
                        class="relative rounded-md bg-black dark:bg-gray-900 px-5 py-2.5 text-lg transition-all duration-75 ease-in group-hover:bg-opacity-0">{% trans "Change password" %}<span></a>
                <form class="inline" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button
                        class="group relative mb-2 me-2 inline-flex items-center rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 text-sm font-medium text-white hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-800 group-hover:from-purple-600 group-hover:to-blue-500"
                        type="submit">
                        <span
                            class="relative rounded-md bg-black dark:bg-gray-900 px-5 py-2.5 text-lg transition-all duration-75 ease-in group-hover:bg-opacity-0">{% trans "Log out" %}</span>
                    </button>
                </form>
            </div>
            {% endif %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <div class="mt-4 mb-40 text-center">
                {% if not request.path == "/" %}
                <form class="inline" action="/" method="get">
                    <button
                        class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 text-lg font-medium text-white hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-800 group-hover:from-purple-600 group-hover:to-blue-500"
                        type="submit">
                        <span
                            class="relative rounded-md bg-black dark:bg-gray-900 px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0">
                            {% trans "Back" %}
                        </span>
                    </button>
                </form>

                {% endif %}
                {% if 'proposals/proposal_details/' in request.path %}
                <form class="inline" action="{% url 'proposals' %}" method="get">
                    <button
                        class="group relative mb-2 me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 p-0.5 text-lg font-medium text-white hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-800 group-hover:from-purple-600 group-hover:to-blue-500">
                        <span
                            class="relative rounded-md bg-black dark:bg-gray-900 px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0">
                            {% trans "Back to proposals" %}
                        </span>
                    </button>
                </form>

                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>
