{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Improvo Proposal System" %}
{% endblock %}

{% block content %}

<h1>{% trans "Improvo Proposal System" %}</h1>

{% if user.is_authenticated %}

<h3>{% trans "Submit your own proposal" %}</h3>

<p>
  <a href="proposals/proposal_submission">{% trans "Submit here!" %}</a>
</p>

<h3>{% trans "List of submitted proposals" %}</h3>

<p>
  <a href="proposals">{% trans "View submitted proposals" %}</a>
</p>

{% else %}

<p>{% trans "You are not logged in" %}</p>

<a href="{% url 'login' %}">{% trans "Log in" %}</a>
<a href="/accounts/signup/">{% trans "Sign up" %}</a>

{% endif %}

<h5>{% trans "Select language" %}</h5>

<p>
  {% for language in languages %}
  <li><a href="?lang={{ language.code }}">{{ language.name }}</a></li>
  {% endfor %}
</p>

<a href="{% url 'language_select' %}">{% trans 'Select language' %}</a>

{% endblock %}
