asgiref==3.7.2
build==1.1.1
click==8.1.7
colorama==0.4.6
Django==5.1.10
packaging==24.0
pip-tools==7.4.1
pyproject_hooks==1.0.0
setuptools==78.1.1
sqlparse==0.5.0
tzdata==2024.1
wheel==0.43.0
django-tailwind
django_browser_reload
