{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sign up" %}{% endblock %}
{% block content %}

<div class="container mt-10">
    {% if user.is_authenticated %}
    <div class="p-6 rounded-lg shadow-md dark:border-gray-700 dark:bg-gray-800">
        {% else %}
        <div class="row">
            {% endif %}
            <div class="col-md-6 offset-md-3">
                <div class="mb-4 text-3xl font-bold tracking-tight text-center text-white dark:text-white">
                    {% trans "Sign up" %}
                </div>
                <div class="max-w-sm mx-auto">
                    <form class="mt-4" method="post">
                        {% csrf_token %}
                        <div class="mb-5">
                            <label class="mb-2 text-lg font-medium text-white dark:text-white"
                                for="id_username">{% trans "Username" %}</label>
                            <input
                                class="w-full rounded-lg border p-2.5 text-sm text-white focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                id="id_username" name="username" type="text" required placeholder="{% trans "Your username" %}"/>
                            {% for error in form.username.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="mb-5">
                            <label class="mb-2 text-lg font-medium text-white dark:text-white"
                                for="id_password1">{% trans "Password" %}</label>
                            <input
                                class="w-full rounded-lg border p-2.5 text-sm text-white focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                id="id_password1" name="password1" type="password" required placeholder="{% trans "Your password" %}"/>
                            {% for error in form.password1.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="mb-5">
                            <label class="mb-2 text-lg font-medium text-white dark:text-white"
                                for="id_password2">{% trans "Confirm Password" %}</label>
                            <input
                                class="w-full rounded-lg border p-2.5 text-sm text-white focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                id="id_password2" name="password2" type="password" required
                                placeholder="{% trans "Confirm your password" %}"/>
                            {% for error in form.password2.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <button class="my-8" type="submit">
                            <a class="my-2 mb-2 me-2 rounded-lg bg-gradient-to-r from-green-400 via-green-500 to-green-600 px-5 py-2.5 text-center text-lg font-medium text-white shadow-lg shadow-green-800/80 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800">{% trans "Sign up" %}</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
